.card {
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
    border-radius: 25px;
    &__three {
        width: calc((100% - 60px) / 3);
        padding: 30px 30px 60px;
        text-align: center;
    }
    &__four {
        width: calc((100% - 90px) / 4);
        padding: 30px 30px 60px;
        text-align: center;
    }
    &__two {
        padding: 60px;
        width: calc((100% - 30px) / 2);
    }
}
@media only screen and( max-width:$breakpoint-desktop) {
    .card {
        border-radius: 25px;
        &__four {
            width: calc((100% - 20px) / 2);
        }
        &__three {
            width: calc((100% - 40px) / 3);
            padding: 30px;
        }

        &__two {
            padding: 60px 117px;
            width: 100%;
        }
    }
}

@media only screen and(max-width:$breakpoint-tablet) {
    .card {
        border-radius: 25px;
        &__four {
            width: calc((100% - 20px) / 2);
            padding: 30px, 10px;
        }
        &__three {
            width: 100%;
            padding: 30px, 30px, 60px, 30px;
        }

        &__two {
            padding: 0;
            width: 100%;
            flex-direction: column;
        }
    }
}
@media only screen and(max-width:$breakpoint-mobile-large) {
    .card {
        &__four {
            margin: auto;
            width: 100%;
            padding: 30px;
        }
    }
}
